
  h1{
    color:red;
    text-align:center;
    font-style: italic;
  }

  a{
    width:120px;
    height:50px;
    position:absolute;
    left:46%;
    border: 2px solid red;
    background-color:black;
    color:red;
    font-size:30px
  }
